
    <div class="row row-eq-height ">
        {% for show in shows %}
            {% if show.get_field('dispo') == '1' %}

                <div class="d-none d-md-block offset-md-1 "></div>
                <a href="{{ show.link }}" class="col-12 col-md-5 row">

                    <div class="row  show_2 show-shomedal">
                        <h2 class="col-12 link d-none">
                            {{ show.title }}
                        </h2>
                        <div class="offset-md-1 d-none d-md-block"></div>
                        <div class="thumb-medal thumb-medal2 col-12 col-md-10 cie-text">
                            <img src="{{show.thumbnail.src}}" alt="affiche" class="affiche float-thumb oneevent-img ">
                            {{ show.content|truncate(30)}}
                        </div>
                        <div class="offset-md-1 d-none d-md-block"></div>
                    </div>
                </a>
                {#<div class="offset-2 offset-md-1"></div>#}

            {% endif %}
        {% endfor %}

        <div class="offset-md-1 d-none d-md-block"></div>

    </div>




