{% extends 'base.twig' %}
{% block content %}
    <a id="article-anch6"></a>
    <div class="col-12" id="home-referencies">
        {% include '/views/partial/loops/references-loop.twig' %}
    </div>
{% endblock %}
