{% extends 'base.twig' %}

{% block content %}
    <a id="article-anch" class="anch"></a>
    <div class="content-wrapper article_content" xmlns="http://www.w3.org/1999/html">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <a id="article-anch anch"></a>
            <h1 class="article-h1 under-title under-title2 mt0 p0">A l'affiche !</h1>
            {% include '/views/partial/loops/page-show-loop.twig' %}
            <h1 class="article-h1 under-title under-title2 under-title2">Ancien Spectacles</h1>
            {% include '/views/partial/loops/page-old-show-loop.twig' %}
            <h1 class="article-h1 under-title under-title2">En création</h1>
            {% include '/views/partial/loops/page-soon-show-loop.twig' %}
        </article>
    </div>

{% endblock %}
