<footer class="footer container-fluid">
    <div class="footer_bloc row">

        <div class="f-link col-4">
            <a href="{{site.url}}mentions-legales">mentions légales</a>
        </div>
        <div class="offset-1"></div>
        <div class="logo col-2 col-md-2">
            <a href="{{site.url}}">
                <img class="logo-fabulle2" src="https://www.kojeje.fr/fabulle/wp-content/uploads/2019/09/fabulle-bleue.png" alt="logo">
            </a>
        </div>
        <div class="offset-1"></div>
        <div class="f-link col-4">
            <a href="{{site.url}}politique-de-confidentialite">confidentialité
            </a>
        </div>

    </div>
</footer>
