<div class="img-alt-home d-block d-md-none col-12">
    <div class="carousel-caption d-none d-md-block caption caption2">
        {{ post.get_field('field_5cb8c1272895d') }}

    </div>
    <div class="d-block d-md-none caption caption-phone">
        {{ post.get_field('field_5cb8c1272895d') }}
        {#<img src="{{ post.thumbnail.src }}" alt=" " id="mati-bras" class="thumb-medal flex-thumb thumb-medal2">#}
    </div>
</div>