@import url('https://fonts.googleapis.com/css?family=Galdeano');

body
{

  font-family: 'Comfortaa', cursive;

  font-size: 10px;
}
.article-h1, h1, h2, h3{
  font-family: 'Overlock', cursive;
}
//font-family: 'Gayathri', sans-serif;
//font-weight: 100 !important;
//}
